@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TradeGothic';
  src: url('/fonts/Trade Gothic LT Std Condensed No. 18.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicBold';
  src: url('/fonts/Trade Gothic Bold Condensed No. 20.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLight';
  src: url('/fonts/Trade Gothic LT W01 Light-normal-400-100.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLightItalic';
  src: url('/fonts/Trade Gothic LT W01 Light-italic-400-100.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TradeGothic', sans-serif;
  color: #333;
  line-height: 1.6;
}
